﻿<!DOCTYPE html>
<html>
<head>
    <title>Currency converter</title>
    <meta name="description=" content="Ultimate currency convertor" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="stylesheets/calculator.css">
</head>
<body ng-app="app" ng-cloak>

    <div ng-controller="ConversionController">
        <div class="container-fluid">
            <div class="title">
                CURRENCY CONVERTOR
            </div>

            <div class="row">
                <div class="col-md-4 offset-md-1">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <select class="input-group-addon" name="currency"
                                        ng-model="appState.leftValue.currency"
                                        ng-change="onChangeLeftCurrency()"
                                        ng-options="c as c for c in leftCurrencyList()"></select>
                                <input ng-model="appState.leftValue.amount"
                                       ng-change="onChangeLeft()"
                                       ng-click="onLeftSelected();"
                                       ng-class="leftClass()"
                                       class="form-control input_width">
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="!appState.leftValue.valid">
                        <div class="col red_alert_small">
                            Please enter a number
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <button class="btn_swap img_rotate" ng-click="swap()"><img src="images/swap.svg" /></button>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <select class="input-group-addon" name="currency"
                                        ng-model="appState.rightValue.currency"
                                        ng-change="onChangeRightCurrency()"
                                        ng-options="c as c for c in rightCurrencyList()"></select>
                                <input ng-model="appState.rightValue.amount"
                                       ng-change="onChangeRight()"
                                       ng-click="onRightSelected();"
                                       ng-class="rightClass()"
                                       class="form-control input_width" />
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="!appState.rightValue.valid">
                        <div class="col red_alert_small">
                            Please enter a number
                        </div>
                    </div>
                </div>

            </div>

            <div><button type="button" class="btn btn-primary btn_reset" ng-click="reset()">Reset</button></div>

        </div>
    </div>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/angular.js"></script>
    <script src="javascripts/calculator.js"></script>
</body>
</html>
