﻿body {
    background-color: #66c2ff !important;
    font-family: Arial
}

.btn_reset {
    background-color: #007acc !important;
    border-color: #007acc !important;
    margin-top: 50px;
    padding: 5px 60px !important;
    text-align: center !important;
    font-size: 20px !important;
    cursor: pointer;
}

.container-fluid {
    text-align: center;
}

input {
    height: 34px;
    border-color: #007acc !important;
    text-align: right;
    padding-right: 5px !important;
    font-weight: bold;
}

.highlighted {
    box-shadow: inset 0 0 35px #00e6e6;
}

img {
    margin-left: 15px;
    margin-right: 15px;
}

.input-group-addon {
    padding-top: 9px !important;
    padding-bottom: 8px !important;
    background-color: white !important;
    border-color: #007acc !important;
}

.btn_swap {
    background-color: #66c2ff !important;
    border: none !important;
    cursor: pointer !important;
    padding: 0px;
}

button.btn_swap:focus {
    outline: 0;
}

.wrong-amount {
    color: red !important;
}

select {
    height: 34px;
    border-radius: 4px;
    border: 2px solid #007acc;
    padding-left: 5px;
}

@media screen and (max-width: 767px) {

    .btn_reset {
        width: 100%;
    }

    .red_alert_small {
        color: red;
        text-align: left;
    }

    .img_rotate {
        transform: rotate(-90deg);
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .title {
        color: white !important;
        font-size: 40px;
        font-style: normal;
        font-weight: normal;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .col {
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-2 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 768px) {

    .red_alert_small {
        color: red;
        text-align: left;
    }

    .title {
        color: white !important;
        font-size: 40px;
        font-style: normal;
        font-weight: normal;
        padding-top: 120px;
        padding-bottom: 50px;
    }

    .col {
        padding: 0px !important;
    }

    .col-md-2 {
        padding: 0px !important;
    }
}

@-moz-document url-prefix() {
    .input-group-addon {
        padding-top: 6px !important;
        padding-bottom: 8px !important;
        background-color: white !important;
        border-color: #007acc !important;
    }

    .highlighted {
        box-shadow: inset 0 0 20px #00e6e6;
    }
}
